{% extends './Default/dashboard.html.twig' %}
{% block stylesheets %}
<style>
    .jumbotron {
        margin-top: 20px;
        width: 100%;
        padding: 25px 50px 30px;
        position: relative;
        overflow: hidden;
        display: block;
        background-color: #e8e9ea;
    }
</style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb breadcrumb-alt" style="background-color: white ;margin: 0px -30px; padding-left: 40px;">
        <li class="breadcrumb-item"><a href="#">Publication Forum</a></li>
        <li class="breadcrumb-item active">{{ publication.categorie }}</li>
    </ol>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 offset-md-6 text-right">
                <br>
                <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-times" aria-hidden="true"></i> Supprimer
                </button>
                <a class="btn btn-success" href="{{ path('da_forum_publication_archive', { 'id': publication.id }) }}">
                    <i class="fa fa-archive" aria-hidden="true"></i> Archiver </a>
                <a class="btn btn-secondary" href="{{ path('da_forum_index') }}">
                    <i class="fa fa-undo" aria-hidden="true"></i> Retour à la liste
                </a>
            </div>
        </div>
        <div class="jumbotron">
            <div class="row">
                <h1>
                    <b>{{ publication.titre }} </b>
                </h1>
            </div>
            <div class="row">
                <b> <span class="tag label label-info">{{ publication.categorie }}</span></b>
            </div>
            <div class="row">
                <b>Description :</b><br> &nbsp;{{ publication.description }}
            </div>
            <div class="row">
                <b> Etat : </b> &nbsp;{{ publication.etat }}
            </div>
            <div class="row">
                <b>Date de création :</b> &nbsp;{{ publication.publicationCreatedAt | date }}
            </div>
            <div class="row">
                <b>Auteur :</b> &nbsp;{{ publication.publicationCreatedBy }}
            </div>
            <div class="row">
                <b>Nbr. de commentaires :</b> &nbsp;{{ publication.commentaires | length }}
            </div>
        </div>
        {% for commentaire in publication.commentaires %}
            <div class="card card-transparent">
                <div class="card-block no-padding">
                    <div id="card-advance" class="card card-default">
                        <div class="card-header  ">
                            <div class="card-title">Commentaire #{{ commentaire.id }}
                            </div>
                            <div class="card-controls">
                                <ul>
                                    <li><a href="{{ path('da_commentaire_delete', { 'id': commentaire.id }) }}">
                                            <i class="fa fa-trash"></i> Effacer</a>
                                    </li>
                                    <li><a href="#" class="card-refresh" data-toggle="refresh">
                                            <i class="fa fa-check-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3></h3>
                            <p>{{ commentaire.description }}</p>
                            <br>
                            <div>
                                <div class="profile-img-wrapper m-t-5 inline">
                                    {% if commentaire.commentedBy.photo != '' %}
                                        <img alt="User Pic"
                                             src="{{ asset('uploads/user/photo/' ~ commentaire.commentedBy.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                    <div class="chat-status available">
                                    </div>
                                </div>
                                <div class="inline m-l-10">
                                    <p class="small hint-text m-t-5">
                                        VIA {{ commentaire.commentedBy.nom }} {{ commentaire.commentedBy.prenom }}
                                        <br> {{ commentaire.commentedAt | date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel"> Supprimer
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary"
                            data-dismiss="modal"> Annuler
                    </button>
                    <a class="btn btn-danger"
                       href="{{ path('da_forum_publication_delete', { 'id': publication.id }) }}"> Supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
