{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset ('assets/css/raniaEvt.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset ('assets/css/missionCarts.css') }}" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <br>
    {% if app.user %}
        <div class="row">
            <div class="col-md-10 offset-md-1 text-right">
                <button class="btn btn-complete btn-cons " data-target="#collapseSearch" data-toggle="collapse"
                        href="collapseSearch" role="button"><i class="fa fa-filter" aria-hidden="true"></i> Appliquer un
                    filtre
                </button>
                <a href="{{ path('du_evenements_new') }}" class="btn btn-success">
                    <i class="icon-plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Ajouter une mission
                    </i>
                </a>
            </div>
            <div class="col-md-10 offset-md-1">
                <br>
                <div class="collapse col-md-12" id="collapseSearch">
                    <form id="form-project" method="GET" role="form" autocomplete="off" novalidate="novalidate">
                        <div class="card card-body col-md-12" style="padding: 20px; width: 100%">
                            <h5 class="m-t-10">Filtrer selon:</h5>
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    {#Disponibilité#}
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-default">
                                            <label>Catégorie</label>
                                            <select name="categorie" id="categorie"
                                                    class="cs-select cs-skin-slide cs-transparent form-control"
                                                    data-init-plugin="cs-select">
                                                <option value="0">Toutes</option>
                                                {% for c in categories %}
                                                    <option {% if app.session.get('categorie') == c.id %} selected {% endif %}
                                                            value="{{ c.id }}"> {{ c.libelle }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                    {#Experiences#}
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-default">
                                            <label>Lieu </label>
                                            <input type="text" class="form-control" name="lieu" id="lieu"
                                                   value="{{ app.session.get('lieu') }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group date form-input-group form-group-default" data-provide="datepicker" >
                                            <label>Date</label>
                                            <input data-date-format="mm/dd/yyyy"
                                                    class="form-control"
                                                    name="date">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">

                                        <form class="m-t-5" role="form">
                                            <div class="form-group form-group-default form-group-default-select2">
                                                <label> Mots clés :</label>
                                                <select class=" full-width" data-init-plugin="select2" multiple>
                                                    <option value="Nettoyage">Nettoyage</option>
                                                    <option value="Don">Don</option>
                                                    <option value="NonLucratif">Non Lucratif</option>
                                                    <option value="Lucratif">Lucratif</option>
                                                    <option value="CollecteFond">Collecte de fonds</option>
                                                    <option value="Sensibilisation">Sensibilisation</option>

                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <input class="btn btn-secondary" type="submit">
                                    </div>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-3 offset-md-7 text-right ">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="icon-plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Ajouter une mission
                    </i>
                </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-exclamation fa-5x" style="color: red;margin: 0 auto;"></i>
                            <h5 class="modal-title" id="exampleModalLabel">Vous devez étre connecté avant d'effectuer cette action ! </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('inscription') }}">
                                <button class="btn btn-default btn-cons  btn-sm">S'inscrire</button>
                            </a>
                            <a href="{{ path('fos_user_security_login') }}">
                                <button type="button" class="btn btn-primary">Se connecter</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <br>















    <div class="row">




        {% set i = 0 %}
        {% for  evenement in evenements %}
            <div class="wrapper">

                {#<span le variable i represente le numero du card  {{ cardnb }}#}

                {% set i = i +  1 %}

                {% set cardnb = "card" ~ i   %}
                <pre>
    {{ dump(cardnb) }}
</pre>
                <div class="card">



                    <input type="checkbox" id={{ evenement.id }}, class="more" aria-hidden="true">
                    <div class="content">

                        {% if evenement.cover != '' %}
                            <div class="front" style=" background-image:url('{{ asset('uploads/missions/cover/' ~ evenement.cover) }}');">
                        {% else %}
                            <div class="front" style="  background-image:url('{{ asset('assets/img/profile.png') }}')">
                        {% endif %}
                        <div class="inner">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 style="font-size: 2.5vw; line-height: normal;"><a
                                                    href="{{ path('front_evenements_show', { 'id': evenement.id }) }}">{{ evenement.titre }}
                                            </a>
                                            <p>
                                        <span class="location semi-bold"> <i
                                                    class="fa fa-eye"></i>  </span>Nombre de vues : {{ evenement.nbvues }}
                                            </p>
                                        </h3>
                                    </div>
                              <div class="col-md-5">
                   <div class="via">via {{ evenement.createdBy }}</div>
               </div>




                                </div>

                             {#ratting to do
                             <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>#}
                                  {% if app.user  and  not( app.user in  evenement.participants ) %}

                   <div class="col-sm-5">
                       <a href="{{ path('front_evenements_participer' ,{ 'id' : evenement.id }) }}"
                       class="btn btn-sm btn-info"   id="yes">
                           <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;
                         PARTICIPER
                       </a>
                       </div>



               {% endif %}

               {% if app.user  and  ( app.user in  evenement.participants ) %}
                   <div class="col-sm-5">

                       <a href="{{ path('front_evenements_noparticiper' ,{ 'id' : evenement.id }) }}"
                          class="btn btn-xs btn-info"   id="no">
                           <i class="fa fa-remove" aria-hidden="true"></i>&nbsp;
                          ANNULER PARTICIPATION
                       </a>

                   </div>

               {% endif %}
                                <label for={{ evenement.id }}, class="button" aria-hidden="true">
                                <a style="font-size: 1.5vw; line-height: normal;">
                                      <p>Détails :</p>
                                    </a>
                                </label>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <div class="info">
                                    <span>{{ evenement.participants|length}}</span>
                                    <div class="icon">
                                        <i class="fas fa-users"></i>
                                        <span>Participants</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>{{ evenement.objectif}}</span>
                                    <div class="icon">
                                        <i class="fas fa-object-group"></i>
                                        <span>Objectif</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>{{ evenement.atteint }}</span>
                                    <div class="icon">
                                        <i class="fas fa-object-ungroup"></i>
                                        <span>Atteint</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>
                                        <div class="icon">
                                    <time datetime="2014-07-31 1600">
                                        <span class="day">{{ evenement.dateLimite |date ("d") }}</span>
                                        <span class="month">{{ evenement.dateLimite |date ("M") }}</span>
                                        <span class="year">{{ evenement.dateLimite |date ("Y") }}</span>
                                        <span class="time">4:00 PM</span>
                                    </time></div></span>
                                    <div class="icon">
                                        <i class="fas fa-calendar-times-o"></i>
                                        <span>Date limite</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p>Categorie : <a href="#">{{ evenement.categorie }}</a></p>
                                      <a style="font-size: 1.5vw; line-height: normal;">
                                     <p>Description :</p>
                                    </a>

                                    <br>

                                    {{ evenement.description }}
                                </div>
                                <div class="location">
                                    <p>Lieu : <a href="#">{{ evenement.lieu }}</a></p>
                                    <div class="icon">
                                        <i class="fas fa-location-arrow"></i>

                                    </div>
                                </div>

                                <div class="date">
                                    <time datetime="2014-07-31 1600">
                                        <span class="day">{{ evenement.date |date ("d") }}</span>
                                        <span class="month">{{ evenement.date |date ("M") }}</span>
                                        <span class="year">{{ evenement.date |date ("Y") }}</span>
                                        <span class="time">4:00 PM</span>
                                    </time></div>
                                     <div class="icon">
                                        <i class="fas fa-calendar"></i>

                                    </div>

                                <label for={{ evenement.id }},   class="button return" aria-hidden="true">
                                    <i class="fas fa-arrow-left"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
































{#



        {% for  evenement in evenements %}
            <div class="col-sm-4 offset-md-1">
                <ul class="event-list">
                    <li>
                        <time datetime="2014-07-31 1600">
                            <span class="day">{{ evenement.date |date ("d") }}</span>
                            <span class="month">{{ evenement.date |date ("M") }}</span>
                            <span class="year">{{ evenement.date |date ("Y") }}</span>
                            <span class="time">4:00 PM</span>
                        </time>

                        <time
                                {% if evenement.cover != '' %}
                                    style="filter: blur(1px); background-size: 120px 120px; background-image:url('{{ asset('uploads/missions/cover/' ~ evenement.cover) }}');"
                                {% else %}
                                    style="filter: blur(1px);background-size: 120px 120px; background-image:url('{{ asset('assets/img/profile.png') }}')"
                                {% endif %}
                                datetime="2014-07-31 1600">
                        </time>
                        <div class="info" style="padding: 0 10px;">
                            <div class="" data-social="item">
                                <div class="card-description" style="padding: 0px 0px;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 style="font-size: 1vw; line-height: normal;"><a
                                                        href="{{ path('front_evenements_show', { 'id': evenement.id }) }}">{{ evenement.titre }}
                                                </a>

                                                <p>
                                        <span class="location semi-bold"> <i
                                                    class="fa fa-eye"></i>  </span>{{ evenement.nbvues }} <span>  </span><span class="location semi-bold"> <i
                                                                class="fa fa-users"></i>  </span> {{ evenement.participants|length}}
                                                </p>
                                            </h3>
                                        </div>
                                        <div class="col-md-2">
                                            <p><a href="#">#{{ evenement.categorie }}</a></p>
                                        </div>
                                    </div>
                                    {#<div class="row">#}
                                  {#  <p>
                                        <span class="location semi-bold"> <i
                                                    class="fa fa-map-marker"></i> {{ evenement.lieu }}</span>
                                    </p>
                                    {#</div>#}


       {#</div>#}
                            {#</div>#}
                            {#<h2 class="title">#}
                            {#<a href="{{ path('front_evenements_show', { 'id': evenement.id }) }}">#}
                            {#{{ evenement.titre }}#}
                            {#</a>#}
                            {#</h2>#}
                            {#<p class="desc"> {{ evenement.description }}  </p>#}
                            {#<ul>#}
                            {#<li style="width:34%;">{{ evenement.lieu }} <span#}
                            {#class="fa fa-map-marker"></span></li>#}

                            {#<li style="width:34%;">{{ evenement.categorie.libelle }} <span#}
                            {#class="fas fa-calendar"></span></li>#}
                            {#<li style="width:34%;">{{ evenement.createdBy }} <span#}
                            {#class="fas fa-user"></span></li>#}

                            {#<div class="col-md-3 text-right">#}
                            {#<br>#}
                            {#<a href="{{ path('du_evenements_new') }}" class="btn btn-sm btn-info">#}
                            {#<i class="icon-plus">#}
                            {#<i class="fa fa-smile-o" aria-hidden="true"></i>#}
                            {#&nbsp;Je participe!#}
                            {#</i>#}
                            {#</a>#}
                            {#</div>#}
                            {#</ul>#}
          {#              </div>
                    </li>
                </ul>
            </div>#}
        {% endfor %}
    </div>

        {# <form id="form_recherche" action="{{ path('front_evenements_rechercheajax') }}" method="post">
               {{ form_widget(form) }}
               <input type="submit" value="Rechercher" />
           </form>
           <div class="loading"></div>
           <div id="resultats_recherche">
               {% include 'EcoBundle:Missions:index.html.twig' with {'events' : events}  %}
           </div>

           <p><a href="{{ path('myapp_acteur_ajouter') }}">Ajouter un acteur</a><p>

               <script>
                   $(".loading").hide();
                   $("#form_recherche").submit(function(){
                       $(".loading").show();
                       var motcle = $("#acteurrecherche_motcle").val();
                       var DATA = 'motcle=' + motcle;
                       $.ajax({
                           type: "POST",
                           url: "{{ path('front_evenements_rechercheajax')}}",
                           data: DATA,
                           cache: false,
                           success: function(data){
                               $('#resultats_recherche').html(data);
                               $(".loading").hide();
                           }
                       });
                       return false;
                   });
               </script>#}



{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#datePicker').datetimepicker();
        });
    </script>
{% endblock %}