{% extends './Default/dashboard.html.twig' %}
{% block title %}
    Liste des utilisateurs
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var users = $('#usersTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var reparateurs = $('#reparateursTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var reparateursPro = $('#reparateursProTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var livreurs = $('#livreursTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var respsSoc = $('#respsSocTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var respsAssoc = $('#respsAssocTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Liste des utilisateurs</b></h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('da_users_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Ajouter un utilisateur
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#users" href="#"
                           aria-expanded="true">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#reparateurs" class=""
                           aria-expanded="false">Reparateurs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#reparateursPro" class=""
                           aria-expanded="false">Reparateurs Pro</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#livreurs" class=""
                           aria-expanded="false">Livreurs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#respsSoc" class=""
                           aria-expanded="false">Resp. Societe</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#respsAssoc" class=""
                           aria-expanded="false">Resp. assoc</a>
                    </li>
                </ul>
            <div class="tab-content" >
                <div class="tab-pane active" id="users" aria-expanded="true">
                    <table id="usersTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>image</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Société</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if user.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ user.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ user.nom|upper }} {{ user.prenom }} </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {#<a href="{{ path('group_show', { 'id': user.group.id }) }}">#}
                                        {#<div id="profile-image1">#}
                                        {#{% if user.group.logo != '' %}#}
                                        {#<img alt="User Pic"#}
                                        {#src="{{ asset('uploads/logo/' ~ user.group.logo) }}"#}
                                        {#id="profile-image1"#}
                                        {#class="img-logo-societe img-responsive">#}
                                        {#{% else %}#}
                                        {#<b>{{ user.group.name }}</b>#}
                                        {#{% endif %}#}

                                        {#</div>#}
                                    {#</a>#}
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role }} <br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': user.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="reparateurs" aria-expanded="false">
                    <table id="reparateursTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>photo</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Specialite</th>
                            <th>Horaire</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for reparateur in reparateurs %}
                            <tr>
                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if reparateur.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ reparateur.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ reparateur.nom|upper }} {{ reparateur.prenom }} </td>
                                <td>{{ reparateur.username }}</td>
                                <td>{{ reparateur.email }}</td>
                                <td>{{ reparateur.adresse }}</td>
                                <td>{{ reparateur.specialite }}</td>
                                <td>{{ reparateur.horaire }}</td>

                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': reparateur.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="reparateursPro" aria-expanded="false">
                    <table id="reparateursProTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Société</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for reparateurp in reparateursPro %}
                            <tr>

                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if reparateurp.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ reparateurp.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ reparateurp.nom|upper }} {{ reparateur.prenom }} </td>
                                <td>{{ reparateurp.username }}</td>
                                <td>{{ reparateurp.email }}</td>
                                <td>{{ reparateurp.adresse }}</td>
                                <td>{{ reparateurp.specialite }}</td>
                                <td>{{ reparateurp.horaire }}</td>

                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': reparateurp.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="livreurs" aria-expanded="false">
                    <table id="livreursTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Zone</th>
                            <th>Disponibilité</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for liv in livreurs %}
                            <tr>

                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if liv.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ liv.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ liv.nom|upper }} {{ liv.prenom }} </td>
                                <td>{{ liv.username }}</td>
                                <td>{{ liv.email }}</td>
                                <td>{{ liv.zone }}</td>
                                <td>{{ liv.disponibilite }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': liv.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="respsSoc" aria-expanded="false">
                    <table id="respsSocTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Société</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for respS in respsSoc %}
                            <tr>
                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if respS.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ respS.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ respS.nom|upper }} {{ respS.prenom }} </td>
                                <td>{{ respS.username }}</td>
                                <td>{{ respS.email }} </td>
                                <td>{{ respS.group }} </td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': respS.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="respsAssoc" aria-expanded="false">
                    <table id="respsAssocTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom - Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Association</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for respA in respsAsso %}
                            <tr>
                                <td style="width: 55px; padding:0px; text-align: center">
                                    {% if respA.photo != '' %}
                                        <img alt="User Pic" style="width:50px;"
                                             src="{{ asset('uploads/user/photo/' ~ respA.photo) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ respA.nom|upper }} {{ respA.prenom }} </td>
                                <td>{{ respA.username }}</td>
                                <td>{{ respA.email }} </td>
                                <td>{{ respA.group }} </td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_users_edit', { 'id': respA.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
