{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Affichage d'utilisateur
{% endblock %}

{% block body %}
    <h1>User</h1>
    <div class="col-md-2 col-md-offset-1">
        <a>
            {% if user.photo != '' %}
                <img alt="User Pic" width="350" height="300"
                     src="{{ asset('uploads/user/photo/' ~ user.photo) }}"
                     class="img-circle img-responsive">
            {% else %}
                <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                     id="profile-image1" class="img-circle img-responsive">
            {% endif %}
        </a>
    </div>
    <table>
        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                {% for role in user.roles %}
                    {{ role }},
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('da_users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('da_users_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('da_users_delete', { 'id': user.id }) }}">
                <input class="btn btn-danger btn_lg" type="submit" value="Supprimer">
            </a>
        </li>
    </ul>
{% endblock %}
