{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Affichage d'utilisateur
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var evenementsT = $('#evenementsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var annoncesT = $('#annoncesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var publicationsT = $('#publicationsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var missionsT = $('#missionsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>{{ user.nom }} {{ user.prenom }}</b></h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('da_users_index') }}" class="btn btn-primary">
                        <i class="fa fa-undo" aria-hidden="true"></i>Retour à la liste</a>

                    </a>
                    <a href="{{ path('da_users_edit', { 'id': user.id }) }}" class="btn btn-success">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editer
                    </a>
                    <a href="{{ path('da_users_delete', { 'id': user.id }) }}">
                        <input class="btn btn-danger btn_lg" type="submit" value="Supprimer">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md- col-md-offset-1">
            <a>
                {% if user.photo != '' %}
                    <img alt="User Pic" width="350" height="300" src="{{ asset('uploads/user/photo/' ~ user.photo) }}" class="img-circle img-responsive">
                {% else %}
                    <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}" id="profile-image1" class="img-circle img-responsive">
                {% endif %}
            </a>
        </div>
        <div class="card col-md-9">
            <div class="row">
                <div class="col-md-2"><h4><b>Id</b></h4></div>
                <div class="col-md-7"><h5>{{ user.id }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4><b>Prenom</b></h4></div>
                <div class="col-md-7"><h5>{{ user.prenom }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4><b>Nom</b></h4></div>
                <div class="col-md-7"><h5>{{  user.nom }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4><b>Role</b></h4></div>
                <div class="col-md-7"><h5>
                    {% for role in user.roles %}
                        {{ role }},
                    {% endfor %}</h5>
                </div>
            </div>
        </div>
    </div><br>


<div class="row">
    <div class="col-md-12">
        <div class="card card-borderless">
            <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                data-init-reponsive-tabs="dropdownfx">
                <li class="nav-item">
                    <a class="active" data-toggle="tab" role="tab" data-target="#annonces" href="#"
                       aria-expanded="true">annonces</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="tab" role="tab" data-target="#evenements" class=""
                       aria-expanded="false">evenements</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="tab" role="tab" data-target="#publications" class=""
                       aria-expanded="false">publications</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="tab" role="tab" data-target="#missions" class=""
                       aria-expanded="false">missions</a>
                </li>
            </ul>
            <div class="tab-content" >
                <div class="tab-pane active" id="annonces" aria-expanded="true">
                    <table id="annoncesTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Date de Creation</th>
                                <th>Date d'update</th>
                                <th>Prix</th>
                                <th>Region</th>
                                <th>Etat</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for annonce in annonces %}
                                <tr>
                                    <td>{{ annonce.titre|upper }}</td>
                                    <td>{{ annonce.description }} </td>
                                    <td>  {% if annonce.dateCreation is not empty %} {{ annonce.dateCreation|date('Y-m-d') }} {%endif%} </td>
                                    <td>  {% if annonce.dateUpdate is not empty %} {{ annonce.dateUpdate|date('Y-m-d') }} {%endif%} </td>
                                    <td>{{ annonce.prix }}</td>
                                    <td>{{ annonce.region }}</td>
                                    <td>{{ annonce.etat }}</td>
                                    <td style="width: 60px; padding:0px; text-align: center">
                                        {% if annonce.photo != '' %}
                                            <img alt="User Pic" style="width:70px;"
                                                 src="{{ asset('uploads/Annonce/photo/' ~ annonce.photo) }}"
                                                 class="img-circle img-responsive">
                                        {% else %}
                                            <img alt="annonce_Pic" style="width:70px;" src="{{ asset('assets/img/NA.png') }}"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_annonce_edit', { 'id': annonce.id }) }}"
                                               data-toggle="tooltip" title="Editer Annonce">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_annonce_delete', { 'id': annonce.id }) }}"
                                               data-toggle="tooltip" title="Supprimer Annonce">
                                                <i class="fa  fa-trash"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_annonce_show', { 'id': annonce.id }) }}"
                                               data-toggle="tooltip" title="Supprimer Categorie">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="evenements" aria-expanded="true">
                    <table id="evenementsTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Categorie</th>
                                <th>Lieu</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evenement in evenements %}
                                <tr class="event">
                                    <td>{{ evenement.titre }}</td>
                                    <td>{{ evenement.description }}</td>
                                    <td>{{ evenement.categorie.libelle }}</td>
                                    <td>{{ evenement.lieu }}</td>
                                    <td>{{ evenement.date |date }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a  href="{{ path('da_evenement_show', { 'id': evenement.id }) }}" class="btn btn-default"

                                                data-toggle="tooltip" title="Voir">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a href="{{ path('da_evenements_delete', { 'id': evenement.id }) }}" class="btn btn-danger"
                                               data-toggle="tooltip" title="Supprimer">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="publications" aria-expanded="true">
                    <table id="publicationsTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Etat</th>
                            <th>Crée par</th>
                            <th>Nbr de oommentaires</th>
                            <th>Actions</th>
                        </tr>
                        <tbody>
                            {% for publication in publications %}
                                {% if publication.etat == "archivé" %}
                                    <tr class="archived" >
                                {% else %}
                                    <tr>
                                {% endif %}
                                <td>{{ publication.id }}</td>
                                <td>{{ publication.publicationCreatedAt | date('d/m/20y') }}</td>
                                <td>{{ publication.titre }}</td>
                                <td id="descriptionCell">{{ publication.description }}</td>
                                <td>{{ publication.etat }}</td>
                                <td>{{ publication.publicationCreatedBy }}</td>
                                <td>{{ publication.commentaires | length }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary" href="{{ path('da_forum_publication_show', { 'id': publication.id }) }}"
                                           data-toggle="tooltip" title="Consuler">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="{{ path('da_forum_publication_delete', { 'id': publication.id }) }}"
                                           data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>
                                        </a>
                                        {% if publication.etat != "archivé" %}
                                            <a class="btn btn-success" href="{{ path('da_forum_publication_archive', { 'id': publication.id }) }}"> Archiver </a>
                                        {% endif %}
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="missions" aria-expanded="true">
                    <table id="missionsTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Libelle</th>
                                <th>Objectif</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mission in missions %}
                            <tr>
                                <td>
                                    {{ mission.titre }}
                                </td>
                                <td>{{ mission.libelle }}</td>
                                <td>{{ mission.objectif }}</td>
                                <td>{{ mission.but }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"
                                           href="{{ path('da_categoriem_edit', { 'id': categoriesMission.id }) }}"
                                           data-toggle="tooltip" title="Editer l'utilisateur">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
