
{% extends 'base.html.twig' %}
    {% block body %}

<html lang="en-US" style="" class=" js no-touch csstransforms csstransforms3d csstransitions boxsizing">
<head>
    <title>{% block title %}RECYCLAGE!{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset ('assets/files/289b0.css') }}" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Recyclage</title>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="GoGreen » Feed" href="https://wydethemes.com/gogreen/feed/">
    <link rel="alternate" type="application/rss+xml" title="GoGreen » Comments Feed"
          href="https://wydethemes.com/gogreen/comments/feed/">
    <script type="text/javascript">window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "https:\/\/wydethemes.com\/gogreen\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.1"}
        };
        !function (a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case"flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case"emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (h = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);</script>
    <script src="{{ asset('assets/files/wp-emoji-release.min.js') }}" type="text/javascript"
            defer=""></script>
    <style type="text/css">img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }</style>
    <style id="rs-plugin-settings-inline-css" type="text/css">#rs-demo-id {
        }</style>
    <style id="woocommerce-inline-inline-css" type="text/css">.woocommerce form .form-row .required {
            visibility: visible;
        }</style>
    <link rel="stylesheet" id="redux-google-fonts-gogreen_options-css" href="{{ asset ('assets/files/css.css') }}"
          type="text/css" media="all">
    <script type="text/javascript" src="{{ asset ('assets/files/cb50f.js') }}"></script>
    <script type="text/javascript">var wc_add_to_cart_params = {
            "ajax_url": "\/gogreen\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/gogreen\/?wc-ajax=%%endpoint%%",
            "i18n_view_cart": "View cart",
            "cart_url": "https:\/\/wydethemes.com\/gogreen\/cart\/",
            "is_cart": "",
            "cart_redirect_after_add": "no"
        };</script>
    <script type="text/javascript" src="{{ asset ('assets/files/bba14.js') }}"></script>
    <link rel="https://api.w.org/" href="https://wydethemes.com/gogreen/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://wydethemes.com/gogreen/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://wydethemes.com/gogreen/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.0.1">
    <meta name="generator" content="WooCommerce 3.5.2">
    <link rel="canonical" href="https://wydethemes.com/gogreen/">
    <link rel="shortlink" href="https://wydethemes.com/gogreen/">
    <link rel="alternate" type="application/json+oembed"
          href="https://wydethemes.com/gogreen/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwydethemes.com%2Fgogreen%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="https://wydethemes.com/gogreen/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwydethemes.com%2Fgogreen%2F&amp;format=xml">
    <noscript>
        <style>.woocommerce-product-gallery {
                opacity: 1 !important;
            }</style>
    </noscript>

    <link
            rel="stylesheet" type="text/css"
            href="https://wydethemes.com/gogreen/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css"
            media="screen">
    <meta name="generator" content="Visual Composer 5.6">
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.8.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
    <link rel="icon" href="https://wydethemes.com/gogreen/wp-content/uploads/2016/07/cropped-favicon-32x32.png"
          sizes="32x32">
    <link rel="icon" href="https://wydethemes.com/gogreen/wp-content/uploads/2016/07/cropped-favicon-192x192.png"
          sizes="192x192">
    <link rel="apple-touch-icon-precomposed"
          href="https://wydethemes.com/gogreen/wp-content/uploads/2016/07/cropped-favicon-180x180.png">
    <meta name="msapplication-TileImage"
          content="https://wydethemes.com/gogreen/wp-content/uploads/2016/07/cropped-favicon-270x270.png">
    <script type="text/javascript">function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({height: f})
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };</script>
    <style type="text/css" title="dynamic-css" class="options-output">#side-nav {
            background-color: #211F1E;
            background-size: cover;
            background-position: center top;
            background-image: url('https://wydethemes.com/gogreen/wp-content/uploads/2016/10/gogreen-menu-1.jpg');
        }

        #footer-bottom {
            background-color: #141414;
            background-size: cover;
            background-position: center bottom;
        }

        .archive.category .main-content, .archive.author .main-content, .archive.date .main-content {
            background-size: cover;
            background-position: center center;
        }

        body {
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-size: 15px;
        }

        #top-nav .top-menu > li > a, .live-search-form input {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        .w-button, .w-link-button, .w-ghost-button, a.button, button, input[type="submit"], input[type="button"], input[type="reset"] {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            letter-spacing: 0.5px;
            font-weight: normal;
        }

        h1 {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 60px;
        }

        h2 {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 56px;
        }

        h3 {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 40px;
        }

        h4 {
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        h5, blockquote, .format-quote .post-title, .post .post-date strong, .w-blog-posts .post-external-link a {
            font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .w-separator .w-text, .w-donut-chart span, .related-posts li h4, .title-wrapper .subtitle {
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        }</style>
    <style type="text/css" data-name="gogreen-color-scheme">a,
        #header #top-nav li:hover > a,
        #header #top-nav li.current-menu-ancestor > a,
        #header #top-nav li.current-menu-parent > a,
        #header #top-nav li.current-menu-item > a,
        #header #top-nav li.current_page_parent > a,
        #header #top-nav li.current_page_ancestor > a,
        #header #top-nav li.current_page_item > a,
        #header #top-bar .menu-item a:hover,
        #header #top-bar .social-icons > li a:hover,
        #header #top-bar .contact-info li i,
        .vertical-menu li.back-to-parent:hover > span,
        .vertical-menu li:hover > a,
        .vertical-menu .current-menu-ancestor > a,
        .vertical-menu .current-menu-item > a,
        .w-dark #full-nav .vertical-menu li.back-to-parent:hover > span,
        .w-dark #full-nav .vertical-menu li:hover > a,
        .w-dark #full-nav .vertical-menu .current-menu-ancestor > a,
        .w-dark #full-nav .vertical-menu .current-menu-item > a,
        #side-menu li:hover > a,
        .w-light .sliding-remove-button:hover,
        #slidingbar .social-icons > li a:hover,
        .dropcap,
        blockquote:before,
        .highlight,
        button:hover,
        input[type="submit"]:hover,
        input[type="button"]:hover,
        .w-link-button.none,
        .w-link-button.outline,
        .w-link-button:not(.none):hover,
        .w-link-button:not(.none):active,
        .w-link-button.outline.w-with-icon:hover,
        .w-accordion .active .acd-header,
        .w-accordion .active:hover .acd-header,
        .w-text-light .w-accordion .active .acd-header,
        .w-text-light .w-accordion .active:hover .acd-header,
        .w-toggle.active > h3,
        .w-text-light .w-toggle.active > h3,
        .w-testimonial:before,
        .w-testimonials-slider .owl-nav > button,
        .w-testimonials-slider .owl-nav > button:hover,
        .w-team-slider .member-name h4,
        .w-pricing-box,
        .comment-box .name a,
        .w-blog-posts .post-title a:hover,
        .post-meta a:hover,
        .post:not(.format-quote) .post-share a:hover,
        .w-blog-posts .post.format-quote .post-title:before,
        .format-quote .post-detail .post-title:before,
        .post .post-share a:hover,
        .post .meta-date a strong,
        .post-nav > div:hover h4 a,
        .post-nav > div:hover > a,
        .widget a:hover,
        .related-posts li:hover h4 a,
        .w-heading:not(.heading-3):not(.heading-7):not(.heading-8) .subheading,
        .w-photoset .w-item figcaption h3:hover a,
        .w-blog-posts .no-cover.format-audio .post-media-icon,
        .w-blog-posts .no-cover.format-video .post-media-icon,
        .meta-date a strong,
        .title-wrapper .subtitle,
        .title-wrapper .title strong,
        .member-content .member-meta,
        .w-counter-box,
        .w-text-block ul > li:before,
        .widget_shopping_cart .total .amount,
        .woocommerce-message:before,
        .woocommerce-info:before,
        .stars a:hover,
        .products .w-item .price,
        .woocommerce button.button:hover,
        .woocommerce .buttons .button:hover,
        .wc-proceed-to-checkout .button:hover,
        .my_account_orders a.button:hover,
        .add_to_cart_inline .button:hover,
        .order-total .amount,
        .summary .single_variation .price ins .amount {
            color: #3ab54a;
        }

        .title-wrapper.w-size-m .title:after,
        .w-icon-tabs .w-tabs-nav li.active a,
        .sliding-remove-button:hover,
        code,
        .w-icon-tabs.w-tabs .w-tabs-nav li.active,
        .loader-border,
        .loader-timer > div,
        .w-blog-posts.w-large .w-item > .post.sticky,
        .w-blog-posts.w-grid .w-item > .post.sticky,
        .variation,
        .shop_table .quantity input:focus,
        .shop_table .quantity input:hover {
            border-color: #3ab54a;
        }

        .dropdown-nav ul ul {
            border-top-color: #3ab54a;
        }

        .w-link-button:not(.none),
        .w-link-button:not(.none):not(.w-with-icon).outline:hover,
        .w-link-button:not(.none).outline:active,
        .w-heading.heading-3 .w-wrapper,
        .w-banner.w-1 .w-banner-title,
        .w-counter-box .counter-title span,
        .w-accordion .acd-header:after,
        .w-toggle > h3:after,
        .w-tabs .w-tabs-nav li.active,
        .w-tour .w-tabs-nav li.active,
        .w-testimonials-slider .w-border,
        .w-testimonial .w-customer p:after,
        .w-pricing-box .box-button,
        .w-blog-posts.w-masonry .meta-category a,
        .post .post-date,
        .post .post-date:after,
        .w-heading.heading-7 h2:before,
        .w-heading.heading-7 h2:after,
        #header .mobile-nav-icon > .menu-icon,
        #header .mobile-nav-icon > .menu-icon:before,
        #header .mobile-nav-icon > .menu-icon:after,
        .full-nav-icon:hover > .menu-icon,
        .full-nav-icon:hover > .menu-icon:before,
        .full-nav-icon:hover > .menu-icon:after,
        .post-nav span a,
        #fullscreen-nav.w-light:before,
        #live-search.w-light:before,
        #toplink-button .border:before,
        .w-twitter .profile-image img,
        #wp-calendar tbody td#today:hover,
        #cancel-comment-reply-link:hover,
        .loader-inner,
        .loader-timer > div:before,
        .loader-timer > div:after,
        .cart-items,
        .w-effect-gogreen figure,
        .widget_price_filter .ui-slider .ui-slider-range,
        .widget_price_filter .ui-slider .ui-slider-handle,
        .comment-box .post-meta > a:hover,
        .onsale {
            background-color: #3ab54a;
        }

        .w-ghost-button,
        .w-link-button,
        .pagination > span > a:hover,
        .pagination ul li:hover a {
            color: #3ab54a;
            border-color: #3ab54a;
        }


        button,
        .w-button,
        input[type="submit"],
        input[type="button"],
        :not(:required) input[type="checkbox"]:checked,
        :not(:required) input[type="radio"]:checked,
        .w-icon-tabs .w-tabs-nav li.active,
        .pagination ul li span.current,
        .comments-nav a:hover,
        .loader-square-spin > div,
        .ball-pulse > div,
        .woocommerce button.button,
        .woocommerce .buttons .button,
        .wc-proceed-to-checkout .button,
        .my_account_orders a.button,
        .add_to_cart_inline .button {
            border-color: #3ab54a;
            background-color: #3ab54a;
        }

        .single-product .woocommerce-tabs ul.tabs li.active {
            box-shadow: 0 1px 0 #3ab54a;
        }

        .loader-circle {
            box-shadow: inset 0 0 0 3px #3ab54a;
        }

        .loader-line-mask .loader-line {
            box-shadow: inset 0 0 0 4px #3ab54a;
        }</style>
    <script type="text/javascript">(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '', 'ga');

        ga('create', 'UA-56407802-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');</script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1472899677961 {
            padding-bottom: 0px !important;
        }

        .vc_custom_1472899521693 {
            padding-bottom: 0px !important;
        }

        .vc_custom_1467212683731 {
            padding-bottom: 0px !important;
        }

        .vc_custom_1467294057394 {
            padding-bottom: 0px !important;
        }

        .vc_custom_1467294057394 {
            padding-bottom: 0px !important;
        }

        .vc_custom_1470212830581 {
            padding-right: 5vw !important;
            padding-bottom: 0px !important;
            padding-left: 5vw !important;
        }

        .vc_custom_1470212837418 {
            padding-right: 5vw !important;
            padding-bottom: 0px !important;
            padding-left: 5vw !important;
        }

        .vc_custom_1470212843752 {
            padding-right: 5vw !important;
            padding-left: 5vw !important;
        }

        .vc_custom_1467631526060 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1472899979768 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1467631507699 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1472900022573 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1467631693920 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1472899979768 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1472899506856 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }

        .vc_custom_1472899720925 {
            margin-right: 8px !important;
            margin-bottom: 8px !important;
        }</style>
</head>
<body class="home page-template-default page page-id-7984 woocommerce-js center-nav top-bar no-title sticky-nav">
<div id="preloader" class="loaded" style="display: none;">
    <div id="loading-animation" class="loader-2">
        <div class="loader-square-spin">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="content">
    <div class="main-content full-width no-sidebar">
        <section class="w-section w-full w-full-height" style="background-color: rgb(0, 0, 0); min-height: 730px;">
            <div class="section-background">
                <div class="bg-wrapper bg-image"
                     style="background-image:url('{{ asset('assets/files/bg.png ') }}');background-position:center center"></div>
            </div>
            <div class="row w-align-middle w-row-flex">
                <div class="col col-12 text-center">
                    <div class="col-inner">
                        <div class="w-image text-center">
                            <img width="678" height="614" src="{{ asset ('assets/img/logofinalev2.png') }}"
                                 class="attachment-full size-full" alt=""
                                 sizes="(max-width: 678px) 100vw, 678px"></div>
                    </div>
                </div>
            </div>
        </section>


        <section class="w-section w-full no-padding">
            <div class="row">
                <div class="col col-12 no-padding">
                    <div class="col-inner">
                        <div class="w-section-separator w-4 w-top ">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 100 50" preserveAspectRatio="none">
                                <polygon fill="#cccccc" points="0,25 30,48 83,0 100,48 100,50 0,50"></polygon>
                                <polygon fill="#ffffff" points="0,50 15,35 30,48 80,20 100,50"></polygon>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <section class="w-section xl-padding vc_custom_1467212683731">
            <div class="row w-align-middle w-row-flex">
                <div class="col col-8 no-padding">
                    <div class="col-inner">
                        <div data-animation="fadeIn" class="w-image text-center">
                            <a href="{{ path('front_missions_index') }}" target="_blank">
                                <img width="1000" height="701" src="{{ asset ('assets/files/missions.png') }}"
                                     class="attachment-full size-full" alt=""
                                     sizes="(max-width: 1000px) 100vw, 1000px"> </a></div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="col-inner">
                        <div class="row no-padding">
                            <div class="col col-12 hidden-lg no-padding">
                                <div class="col-inner">
                                    <div class="w-space" style="height:40px"></div>
                                </div>
                            </div>
                        </div>
                        <div data-animation="fadeInRight" data-animation-delay="0.2"
                             class="w-heading heading-2 text-left">
                            <div class="w-wrapper"><h2>
                                    Nos missions et Challenges</h2><h4 class="subheading">Rien ne ce perds, Tout ce transforme</h4></div>
                        </div>
                        <div class="w-space" style="height:40px"></div>
                     <a data-animation="fadeInRight" data-animation-delay="0.5"
                               class="w-link-button large outline vc_custom_1472899979768" data-hover-color="#ffffff"
                               style="color: rgb(58, 181, 74); border-color: rgb(58, 181, 74);"
                               href="{{ path('front_missions_index') }}"
                               target="_parent">
<span class="w-button-text">
Voir plus </span>
                        </a>
                        <div class="row no-padding">
                            <div class="col col-12 hidden-lg no-padding">
                                <div class="col-inner">
                                    <div class="w-space" style="height:120px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <section class="w-section xl-padding vc_custom_1467212683731">
            <div class="row w-align-middle w-row-flex">
                <div class="col col-8 no-padding">
                    <div class="col-inner">
                        <div data-animation="fadeIn" class="w-image text-center">
                            <a href="{{ path('front_maps_index') }}" target="_blank">
                                <img width="1000" height="701" src="{{ asset ('assets/files/maps.png') }}"
                                     class="attachment-full size-full" alt=""
                                     sizes="(max-width: 1000px) 100vw, 1000px"> </a></div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="col-inner">
                        <div class="row no-padding">
                            <div class="col col-12 hidden-lg no-padding">
                                <div class="col-inner">
                                    <div class="w-space" style="height:40px"></div>
                                </div>
                            </div>
                        </div>
                        <div data-animation="fadeInRight" data-animation-delay="0.2"
                             class="w-heading heading-2 text-left">
                            <div class="w-wrapper"><h2>
                                    Nos points de collectes</h2><h4 class="subheading"> Voir les points de collectes dans la Tunisie </h4></div>
                        </div>
                        <div class="w-space" style="height:40px"></div>
                      <a data-animation="fadeInRight" data-animation-delay="0.5"
                               class="w-link-button large outline vc_custom_1472899979768" data-hover-color="#ffffff"
                               style="color: rgb(58, 181, 74); border-color: rgb(58, 181, 74);"
                               href="{{ path('front_maps_index') }}"
                               target="_parent">
<span class="w-button-text">
Voir plus </span>
                        </a>
                        <div class="row no-padding">
                            <div class="col col-12 hidden-lg no-padding">
                                <div class="col-inner">
                                    <div class="w-space" style="height:120px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>
<link id="google_fonts_roboto_condensed300300italicregularitalic700700italic"
      href="{{ asset ('assets/files/css(1).css') }}" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<link id="google_fonts_roboto_slab100300regular700" href="{{ asset ('assets/files/css(2).css') }}" rel="stylesheet"
      property="stylesheet" type="text/css" media="all">

<a id="toplink-button" href="{{ path('front_maps_index') }}" class="active" style="display: block;">
<span class="border">
<i class="gg-up"></i>
</span>
</a>
</body>
</html>
    {% endblock %}



{% block javascripts %}
<script type="text/javascript">var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;</script>
<script type="text/javascript">var wpcf7 = {
        "apiSettings": {
            "root": "https:\/\/wydethemes.com\/gogreen\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        }, "cached": "1"
    };</script>
<script type="text/javascript" src="{{ asset ('assets/files/dbe09.js') }}"></script>
<script type="text/javascript">var woocommerce_params = {
        "ajax_url": "\/gogreen\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/gogreen\/?wc-ajax=%%endpoint%%"
    };</script>
<script type="text/javascript" src="{{ asset ('assets/files/a0494.js') }}"></script>
<script type="text/javascript">var wc_cart_fragments_params = {
        "ajax_url": "\/gogreen\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/gogreen\/?wc-ajax=%%endpoint%%",
        "cart_hash_key": "wc_cart_hash_acd8cf5b53aa9601dfb1b53e12d39482",
        "fragment_name": "wc_fragments_acd8cf5b53aa9601dfb1b53e12d39482"
    };</script>
<script type="text/javascript" src="{{ asset ('assets/files/d846b.js') }}"></script>
<script type="text/javascript">var wyde_shortcodes_settings = {"instagram": "4440742520.82ebd5f.bcac1152aca342f4a1c7962030e6ed24"};</script>
<script type="text/javascript" src="{{ asset ('assets/files/af324.js') }}"></script>
<script type="text/javascript">var wyde_page_settings = {
        "siteURL": "https:\/\/wydethemes.com\/gogreen",
        "ajax_search": "1",
        "ajax_search_image": "1",
        "ajax_search_author": "1",
        "ajax_search_date": "1"
    };</script>
<script type="text/javascript" src={{ asset ('assets/files/357aa.js') }}"   ></script>
{% endblock %}