{% extends '@Eco/front/Recyclage/index.html.twig' %}

    {% block stylesheets %}

    {% endblock %}

    {% block body %}


        <style>
            #map {
                width: 100%;
                height: 850px;
                background-color: grey;
            }
        </style>

        <div id="page" class="container-fluid m-t-10">

            <div id="content">
                <div class="main-content full-width no-sidebar">
                    <section class="w-section w-full w-full-height" style="background-color: rgb(0, 0, 0); min-height: 730px;">
                        <div class="section-background">
                            <div class="bg-wrapper bg-image"
                                 style="background-image:url('{{ asset('assets/files/bg.png') }}');background-position:center center"></div>
                        </div>
                        <div class="row w-align-middle w-row-flex">
                            <div class="col col-12 text-center">
                                <div class="col-inner">
                                    <div class="w-image text-center">
                                        <img width="100%" height="500px" src="{{ asset ('assets/files/ptcoll.jpg') }}"
                                             class="attachment-full size-full" alt=""
                                             sizes="(max-width: 678px) 100vw, 678px"></div>


                                </div>

                            </div>
                        </div>

                        <center>
                        <div class="vc_row-full-width">
                            <div id="map">

                            </div>
                        </div>

                </div>
            </div>
        </section>

        {% for marker in markers %}
            <div class="modal" tabindex="-1" role="dialog" id="modalMap{{ marker.id }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Responsable de ce point de Collecte : {{ marker.responsable }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <p>Titre du Pt Collecte : {{ marker.libelle }}.</p>
                            <p>Infos sur le Pt Collecte : {{ marker.type }}.</p>
                            <p>Latitude du Pt Collecte : {{ marker.lat }}.</p>
                            <p>Longitude du Pt Collecte : {{ marker.lng }}.</p>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            </center>


                            </div>
                        </div>











        {% endfor %}

<br>
        <br>
        <br>





        <link id="google_fonts_roboto_condensed300300italicregularitalic700700italic"
              href="{{ asset ('assets/files/css(1).css') }}" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <link id="google_fonts_roboto_slab100300regular700" href="{{ asset ('assets/files/css(2).css') }}" rel="stylesheet"
              property="stylesheet" type="text/css" media="all">

        <a id="toplink-button" href="{{ path('front_maps_index') }}" class="active" style="display: block;">
<span class="border">
<i class="gg-up"></i>
</span>
        </a>
    {% endblock %}

{% block javascripts %}

    <script>
        function initMap() {

            var tn = {lat: 34.601246, lng: 9.924554};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 7, center: tn});

            {% for marker in markers %}
            var marker = new google.maps.Marker({
                position: {lat: {{ marker.lat }}, lng: {{ marker.lng }} },
                map: map,
                animation: google.maps.Animation.DROP,

            });
            marker.addListener('click', function () {
                $('#modalMap' +{{ marker.id }}).modal('show');
            });
            {% endfor %}

        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3KhyS-EYfLay-lwqDUE4XEXvIiSkF5Zg&callback=initMap">
{% endblock %}