{% extends './Default/dashboard.html.twig' %}
{% block title %}
    Liste des Categories d'event
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var users = $('#categorieTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Liste des Catégories d'events</b></h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('da_categorie_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Ajouter une catégorie
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table id="categorieTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>But</th>
                    <th>Action</th>
                </tr>
                </thead>
                <thead>
                <tbody>
                {% for categoriesEvt in categoriesEvts %}
                        <tr>

                            <td>
                                <a href="{{ path('da_categorie_show', { 'id': categoriesEvt.id }) }}">{{ categoriesEvt.libelle }}</a>
                            </td>
                            <td>{{ categoriesEvt.but }}</td>
                            <td>
                                <div class="btn-group btn-group-sm btn-group-horizontal">
                                    <a class="btn btn-secondary"
                                       href="{{ path('da_categorie_edit', { 'id': categoriesEvt.id }) }}"
                                       data-toggle="tooltip" title="Editer la catégorie">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}
