{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Affichage d'un Event
{% endblock %}
{% block stylesheets %}
    <style>
        .jumbotron {
            height:  200px;
            padding: 0px;
            width:   100%;
        }
    </style>
{% endblock %}
{% block body %}
    {% if evenement.cover != '' %}
        <div class="jumbotron">
            <div class="cover-photo text-center"  style="background-image:url('{{ asset('uploads/evt/cover/' ~ evenement.cover) }}'); background-size: 100% 100%"><br>
                <h1 class="display-3 ">Bienvenue </h1>
                <p>Voici un bref description sur notre prochain evenement {{ evenement.titre }}, on espére vous
                    accueilir parmi nous </p>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="cover-photo text-center"><br>
                <h1 class="display-3 ">Bienvenue </h1>
                <p>Voici un bref description sur notre prochain evenement {{ evenement.titre }}, on espére vous
                    accueilir parmi nous </p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="card col-md-5 offset-md-1" style="margin-right: 20px; padding: 15px 25px">
            <h3 class="text-center"><span class="bold text-center">{{ evenement.titre }}</span></h3>
            <h5><b>Catégorie :</b> {{ evenement.categorie }}</h5><br>
            <h5><b>Description :</b> <br>{{ evenement.description }}</h5><br>
            A : {{ evenement.lieu }}<br>
            Date : {{ evenement.date |date }}
            <div>
                <div class="profile-img-wrapper m-t-5 inline">
                    <img width="35" height="35" src="{{ asset('uploads/user/photo/' ~ evenement.createdBy.photo) }}">
                    VIA{{ evenement.createdBy.nom }}
                </div>
                <div class=" text-right">
                    <p class="small hint-text m-t-5">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> A : {{ evenement.lieu }}
                        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>Date : {{ evenement.date |date }}
                    </p>
                </div>
            </div>
        </div>
        <div class="card col-md-5 ">
            <h3 class="text-center"><span class="bold text-center">A propos d'organisateur</span></h3>
            <div class="row">
                {% if evenement.createdBy.photo %}
                    <div class="col-md-4 profile-img-wrapperinline">
                        <img width="180" height="180"
                             src="{{ asset('uploads/user/photo/' ~ evenement.createdBy.photo) }}">
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <h5><b>Nom :</b> {{ evenement.createdBy.nom }}</h5>
                    <h5><b>Prenom :</b>{{ evenement.createdBy.prenom }}</h5>
                    {% if evenement.createdBy.group %}
                        <h5><b>Groupe :</b>{{ evenement.createdBy.group.nom }}</h5>
                    {% endif %}
                    <h5><b>Prenom :</b>{{ evenement.createdBy.email }}</h5><br>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">

        {% if evenement.participants %}
            <div class="col-md-10 offset-md-1 card">
                <h3 class="text-center"><span class="bold text-center">Les participants jusqu'a maintenant ({{ evenement.participants | length }} participants)</span></h3>
                <ul class="row list-unstyled ">
                    {% for participant in evenement.participants %}
                        <li class="text-center" style="width: 100px; height: 130px; margin-right: 15px">
                            <div class="profile-img-wrapper" style="width: 100px; height: 100px">
                                <img width="100" height="100" alt="Profile Image" src="{{ asset('uploads/user/photo/' ~ participant.photo) }}">
                            </div>
                            <h4>{{ participant.nom }}</h4>
                        </li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        {% endif %}
    </div>
{% endblock %}
