{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Affichage d'un Event
{% endblock %}
{% block stylesheets %}
<style>
    .jumbotron {
        height: 40vh;
        padding: 0px;
        width: 100%;
    }
</style>
{% endblock %}
{% block body %}
    <div class="jumbotron" data-social="cover" data-pages="parallax" data-scroll-element=".page-container">
        <div class="cover-photo" style="background-image:url('{{ asset('bundles/appbundle/images/top_bg.jpg') }}'); transform: translateY(0px);">
        {% if evenement.cover != '' %}
            <img alt="User Pic"
                 src="{{ asset('uploads/evt/cover/' ~ evenement.cover) }}"
                 class="img-circle img-responsive">
        {% else %}
            <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                 id="profile-image1" class="img-circle img-responsive">
        {% endif %}
        </div>
        <div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="inner" style="transform: translateY(0px); opacity: 1;">
                <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
                    <h5 class="text-white no-margin">welcome to pages social</h5>
                    <h1 class="text-white no-margin"><span class="semi-bold">social</span> cover</h1>
                </div>
            </div>
        </div>
    </div>

    <h1> Event</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="societe" aria-expanded="true">
                        <table id="societesTab" class="table table-striped table-bordered"
                               style="width: 100% !important;">
                            <tbody>
                            <tr>
                                <th><i class="fas fa-info-circle" aria-hidden=true"></i></th>
                                <td>{{ evenement.description }}</td>
                            </tr>

                            <tr>
                                <th> <i class="fa fa-map-marker" aria-hidden="true"></i></th>
                                <td>{{ evenement.lieu }}</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                                <td>{{ evenement.date |date }}</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-user" aria-hidden="true"></i></th>
                                <td>{{ evenement.createdBy }}</td>
                            </tr>


                                </a>
                            <div class="btn-group btn-group-sm btn-group-horizontal">
                                <a class="btn btn-secondary" href="{{ path ('du_evenements_index') }}"
                                   data-toggle="tooltip" title="Back to the list">
                                    <i class="fa fa-eye"></i>

                                </a>

                                <li>
                                    {{ form_start(delete_form) }}

                                    <button type="button" class="btn btn-danger btn_lg" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fa fa-times" aria-hidden="true"></i> Supprimer
                                    </button>
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"> Supprimer
                                                    </h5>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiement supprimer cette categorie?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-secondary"
                                                            data-dismiss="modal"> Annuler
                                                    </button>

                                                    <input class="btn btn-danger btn_lg" type="submit"
                                                           value="Supprimer">
                                                    {{ form_end(delete_form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                            </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
