{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}
 {% block stylesheets %}
     <style>
         .card-product .img-wrap {
             border-radius: 3px 3px 0 0;
             overflow: hidden;
             position: relative;
             height: 220px;
             text-align: center;
         }

         .card-product .img-wrap img {
             max-height: 100%;
             max-width: 100%;
             object-fit: cover;
         }

         .card-product .info-wrap {
             overflow: hidden;
             padding: 15px;
             border-top: 1px solid #eee;
         }

         .card-product .bottom-wrap {
             padding: 15px;
             border-top: 1px solid #eee;
         }

         .label-rating {
             margin-right: 10px;
             color: #333;
             display: inline-block;
             vertical-align: middle;
         }

         .card-product .price-old {
             color: #999;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".jaime").click(function () {
                var id = $(this).val();

                $.ajax({
                    dataType: "json",
                    url: "{{ path("f_annonce_jaime") }}",
                    data: {
                        "Id": id
                    },
                    success: function (response) {
                        $(".jaime").hide();
                        $(".dislike").show();

                    }
                });
            });
        });
    </script>
    <script>

        $(".chercher").click(function(){

            $.ajax({
                url : '{{ path('f_recherch') }}',
                type : 'POST',
                dataType: "json",
                data: {
                    type: $( ".search" ).val(),
                    valeur: $( "#search0" ).val()
                },
                success :     function(reponse) {
                    $( "#result" ).html( reponse );
                    alert($( "#search0" ).val());
                },

                error : function(resultat, statut, erreur){

                },

                complete : function(resultat, statut){

                }

            });

        });

    </script>
{% endblock %}
{% block body %}
    <div class="container-fluid" style="padding: 50px;">
        <div class="row">
            <div class="col-2 offset-10 text-right">
                <a href="{{ path('du_annonce_new') }}" class="btn btn-success">
                    <i class="icon-plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Ajouter une Annonce
                    </i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Filiter By</h3>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 offset-1">
                        <form role="form">
                            <div class="form-group form-group-default input-group">
                                <div class="form-input-group">
                                    <label>Recherche tous les Annonce</label>
                                    <input type="search" class="search form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <div class="chercher btn btn-lg btn-primary">Chercher
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" style="width: 100%;height: 51px;">
                            <button class="max btn btn-secondary btn-lg dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trier Par
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(0px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PR' }) }}">Plus
                                    Récente</a>
                                <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PE' }) }}">Prix
                                    Eleve</a>
                                <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PB' }) }}">Prix
                                    bas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 " id="sticky-sidebar">

            <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card card-default m-b-0">
                    <div class="card-header " role="tab" id="headingOne">
                        <h4 class="card-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                Categories
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabcard" aria-labelledby="headingOne" style="">
                        <div class="card-body">
                            <ul class="list-group">
                                <a href="{{ path('f_annonce_index') }}">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        All
                                        {#<span class="badge badge-primary badge-pill">{{ c.annonces | length}}</span>#}
                                    </li>
                                </a>
                                {% for c in categories %}
                                    <a href="{{ path('f_recherch_Categorie', { 'cat': c.id }) }}">
                                        {#{{ dump(c) }}#}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ c.libelle }}
                                            {#<span class="badge badge-primary badge-pill">{{ c.annonces | length}}</span>#}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" id="main">
            <h1>Annonce Les Plus Aimer</h1>
            <div class="row" id="aa" style="margin-right:30px; margin-left: 30px;">
                {% for l in likes %}
                    <div class="col-md-3">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                {% if l.photo != '' %}
                                    <img style="width:230px;" src="{{ asset('uploads/Annonce/photo/' ~ l.photo) }}"
                                         class="card-img-top">
                                {% else %}
                                    <img alt="annonce_Pic" style="width:230px ; height: 230px;"
                                         src="{{ asset('assets/img/annonces.png') }}"
                                         id="profile-image1" class="card-img-top">
                                {% endif %}
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">{{ l.titre }}</h4>
                                <p class="desc">{{ l.description }}</p>
                                <div class="price-wrap h5">
                                    <span class="price-new">${{ l.prix }}</span>
                                    <button type="submit" value="{{ l.id }}"
                                            class="jaime btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-right">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                                    </button>
                                </div>
                                <div>
                                    <a href="{{ path('du_annonce_signaler', { 'id': l.id }) }}"
                                       class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-right">
                                        <i class="icon-plus">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            &nbsp;Signaler
                                        </i>
                                    </a>
                                </div>
                            </figcaption>
                            <div class="bottom-wrap">

                                <a href="#" class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-left">panier
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('f_annonce_show', { 'id': l.id }) }}" class="btn btn-tag
                                btn-tag-light btn-tag-rounded m-r-10 float-right">
                                    show <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div> <!-- bottom-wrap.// -->
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h1>Tous les Annonce</h1>
            <div class="row" id="aa" style="margin-right:30px; margin-left: 30px;">
                {% for a in annonces %}
                    <div class="col-md-3">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                {% if a.photo != '' %}
                                    <img style="width:230px;" src="{{ asset('uploads/Annonce/photo/' ~ a.photo) }}"
                                         class="card-img-top">
                                {% else %}
                                    <img alt="annonce_Pic" style="width:230px ; height: 230px;"
                                         src="{{ asset('assets/img/annonces.png') }}"
                                         id="profile-image1" class="card-img-top">
                                {% endif %}
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">{{ a.titre }}</h4>
                                <p class="desc">{{ a.description }}</p>
                                <div class="price-wrap h5">
                                    <span class="price-new">${{ a.prix }}</span>
                                    <button type="submit" value="{{ a.id }}"
                                            class="jaime btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-right">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                                    </button>

                                </div>
                                <div>
                                    <a href="{{ path('du_annonce_signaler', { 'id': a.id }) }}"
                                       class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-right">
                                        <i class="icon-plus">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            Signaler
                                        </i>
                                    </a>

                                </div>
                            </figcaption>
                            <div class="bottom-wrap">

                                <a href="#" class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-10 float-left">panier
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('f_annonce_show', { 'id': a.id }) }}" class="btn btn-tag
                                btn-tag-light btn-tag-rounded m-r-10 float-right">
                                    show <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div> <!-- bottom-wrap.// -->
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
