{% extends 'base.html.twig' %}

{% block title %}
    Affichage d'un Event
{% endblock %}
{% block stylesheets %}
    <style>
        .jumbotron {
            height: 40vh;
            padding: 0px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="jumbotron" data-social="cover" data-pages="parallax" data-scroll-element=".page-container">
        <div class="cover-photo" style="background-image:url('{{ asset('bundles/appbundle/images/top_bg.jpg') }}'); transform: translateY(0px);">
            {% if evenement.cover != '' %}
                <img alt="User Pic"
                     src="{{ asset('uploads/evt/cover/' ~ evenement.cover) }}"
                     class="img-circle img-responsive">
            {% else %}
                <img alt="User Pic" src="{{ asset('assets/img/profile.png') }}"
                     id="profile-image1" class="img-circle img-responsive">
            {% endif %}
        </div>
        <div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="inner" style="transform: translateY(0px); opacity: 1;">
                <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
                    <h5 class="text-white no-margin">Venez découvrir...</h5>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-8 sm-no-padding">
        <div class="card card-transparent">
            <div class="card-body no-padding">
                <div id="card-advance" class="card card-default">
                    <br>
                    <div class="card-body">
                        <h3>
                            <span class="semi-bold">{{ evenement.titre }}</span></h3>
                        <h3> <p>{{ evenement.description }}</p></h3>
                        <br>A : {{ evenement.lieu }}
                        <br>Date : {{ evenement.date |date }}
                        <div>
                            <div class="profile-img-wrapper m-t-5 inline">
                                <img width="35" height="35" src="{{ asset('uploads/user/photo/' ~ evenement.createdBy.photo) }}">
                                <div class="chat-status available">
                                </div>
                            </div>
                            <div class="inline m-l-10">
                                <p class="small hint-text m-t-5">VIA {{ evenement.createdBy }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




        <div class="col-lg-4">
            <p class="m-b-5 small">Participants</p>
            <ul class="list-unstyled ">
                {% for participant in evenement.participants %}
                <li class="m-r-10">
                    <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                        <img width="35" height="35" alt="Profile Image"  src="{{ asset('uploads/user/photo/' ~ participant.photo) }}">
                        {{ participant.nom }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>

        </div>




{% endblock %}
