{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 offset-md-6 text-right">
            <br>
            <a class="btn btn-secondary" href="{{ path('da_recyclage_edit', { 'id': group.id }) }}">
                <i class="fa fa-pencil-square-o"></i> Edit</a>
            <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-times" aria-hidden="true"></i>Supprimer
            </button>
            <a class="btn btn-secondary" href="{{ path('da_recyclage_index') }}">
                <i class="fa fa-undo" aria-hidden="true"></i> Retour à la liste
            </a>
        </div>
    </div>
    <div class="row">
        <h1><b>{{ resp.name }}</b></h1>
    </div>
    <div class="row">
        <h4>
            À propos de ce responsable :
        </h4>
    </div>
    <div class="row">
            <div class="col-md-3">
                {% if resp.logo != '' %}
                    <img alt="group-img" src="{{ asset('uploads/group/logo/' ~ group.logo) }}"
                         class="img-logo-societe img-responsive">
                {% else %}
                    <img alt="User Pic" src="{{ asset('assets/img/NA.png') }}"
                         class="img-logo-societe img-responsive">
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% if group.name  %}
                        Nom : {{  group.name  }}
                    {% endif %}
                </div>
                <div class="row">
                {% if group.description %}
                    <div class="hint-text m-t-5 small">{{  group.description  }}</div>
                {% endif %}
                </div>
                <div class="row">
                {% if group.type %}
                    <div class="col-md-2">
                        Group :
                    </div>
                    <div class="col-md-9">
                        {{ group.type }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    {{ form_start(delete_form) }}
    <!--Début du modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel"> Supprimer
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer ce profile ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary"
                            data-dismiss="modal"> Annuler
                    </button>
                    <input type="submit" class="btn btn-danger btn_lg" value="Supprimer">
                    {{ form_end(delete_form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
