{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assetsBack/css/lib/toastr/toastr.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/foscomment/css/comments.css') }}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>All Subscribers</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover " id="subscribersTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="loader" style="display: none;">
                                <td id="loader" style="text-align:center; " colspan="7"><img
                                            src="{{ asset('img/articles_show_loader.gif') }}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Actions</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> Send the latest 5 articles ?
                        <button type="button" class="btn btn-outline-primary pull-right" onclick="sendNews(this);"
                                data-number="5" id="send5">Send
                        </button>
                    </p>
                    <br>
                    <p> Send the latest 10 articles ?
                        <button type="button" class="btn btn-outline-primary pull-right" onclick="sendNews(this);"
                                data-number="10" id="send10">Send
                        </button>
                    </p>
                    <br>
                    <p> Send the latest 5 articles about ? <select id="catg" name="catg" class="form-control">
                            <option value="General">General</option>
                            <option value="Joueur">Player</option>
                            <option value="Stade">Stadium</option>
                            <option value="Equipe">Team</option>
                        </select>
                        <button type="button" class="btn btn-outline-primary pull-right" onclick="sendNews(this);"
                                data-number="5" id="sendCatg">Send
                        </button>
                    </p>
                </div>
            </div>
            <!-- /# card -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assetsBack/js/lib/jsgrid/db.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid.core.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid.load-indicator.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid.load-strategies.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid.sort-strategies.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid.field.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/fields/jsgrid.field.text.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/fields/jsgrid.field.number.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/fields/jsgrid.field.select.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/fields/jsgrid.field.checkbox.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/fields/jsgrid.field.control.js') }}"></script>
    <script src="{{ asset('assetsBack/js/lib/jsgrid/jsgrid-init.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assetsBack/js/lib/jquery.min.js') }}"></script>
    <!-- popper.js-->
    <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
    <!-- bootstrap.min.js-->
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- required-scripts.js-->
    <script type="text/javascript" src="{{ asset('assets/js/theme-scripts.js') }}"></script>
    <!-- theme-main.js-->
    <script type="text/javascript" src="{{ asset('assets/js/theme-main.js') }}"></script>
    <script language="JavaScript" src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assetsBack/js/lib/toastr/toastr.min.js') }}"></script>
    <!-- scripit init-->
    <script src="{{ asset('assetsBack/js/lib/toastr/toastr.init.js') }}"></script>
    <script>
        function sendNews(elem) {
            var id = elem.id;
            var number = $('#' + id).data('number');
            var catg = null;
            console.log(id);
            console.log(number);
            if (id === "sendCatg") {
                catg = $('#catg').val();
            }
            $.ajax({
                url: '{{ (path('subscribers_sendRecentArticles')) }}',
                type: "POST",
                data: {
                    'number': number,
                    'catg': catg
                },
                async: true,
                success: function (data) {
                    switch (data) {
                        case 'Sent':
                            toastr.success('The News chosen has been sent', 'Top Right', {
                                timeOut: 5000,
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": true,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                                "tapToDismiss": false
                            });
                            break;
                        default:
                            toastr.error('Error Message : ' + data, 'Top Right', {
                                "positionClass": "toast-top-right",
                                timeOut: 5000,
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "preventDuplicates": true,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                                "tapToDismiss": false
                            });
                            break;

                    }
                }
                , error: function (data) {
                    toastr.error('Error Message : Your request coulndt be parsed', 'Top Right', {
                        "positionClass": "toast-top-right",
                        timeOut: 5000,
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "tapToDismiss": false
                    })
                }
            });
        }

        $(document).ready(function () {
            fillTable();
        });

        function fillTable() {
            $.ajax({
                url: '{{ (path('subscribers_getAll')) }}',
                type: "POST",
                async: true,
                beforeSend: function () {
                    $('#loader').show('slow');
                },
                success: function (data) {
                    setTimeout(function () {
                        $('#loader').hide('slow');
                        setTimeout(function () {
                            $.each(data, function (index, val) {
                                //var url = Routing.generate('newsletter_view', {'id': val.id});
                                $('<tr> <th scope="row">' + index + '</th><td>' + val.name + '</td><td>' + val.email + '</td><td><div class="row"><a href="#" onclick="deleteSubscriber(this); return false;" id=' + val.id + '>Delete</a></div></td></tr>').appendTo('#subscribersTable').show('slow');

                            })
                        }, 720);
                    }, 2600);
                }
                , error: function (data) {
                    console.log(data);
                }
            });
        }
        function deleteSubscriber(elem) {
            var idSub = elem.id;
            $.ajax({
                url: '{{ path('subscribers_delette') }}',
                type: "POST",
                data: {
                    'id': idSub
                },
                async: true,
                success: function (data) {
                    switch (data) {
                        case 'Deleted':
                            toastr.success('The subscriber chosen has been deleted', 'Top Right', {
                                timeOut: 5000,
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": true,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                                "tapToDismiss": false
                            });
                            $('#subscribersTable > tbody').find('tr').not('#loader').hide();
                            fillTable('Article');
                            break;
                        default:
                            toastr.error('Error Message : ' + data, 'Top Right', {
                                "positionClass": "toast-top-right",
                                timeOut: 5000,
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "preventDuplicates": true,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                                "tapToDismiss": false
                            });
                            break;

                    }


                }
                , error: function (data) {
                    toastr.error('Error Message : Your request coulndt be parsed', 'Top Right', {
                        "positionClass": "toast-top-right",
                        timeOut: 5000,
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "tapToDismiss": false
                    })
                }
            });
        }

    </script>
{% endblock %}


