{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}
 {% block stylesheets %}
     <style>
         .card-product .img-wrap {
             border-radius: 3px 3px 0 0;
             overflow: hidden;
             position: relative;
             height: 220px;
             text-align: center;
         }

         .card-product .img-wrap img {
             max-height: 100%;
             max-width: 100%;
             object-fit: cover;
         }

         .card-product .info-wrap {
             overflow: hidden;
             padding: 15px;
             border-top: 1px solid #eee;
         }

         .card-product .bottom-wrap {
             padding: 15px;
             border-top: 1px solid #eee;
         }

         .label-rating {
             margin-right: 10px;
             color: #333;
             display: inline-block;
             vertical-align: middle;
         }

         .card-product .price-old {
             color: #999;
         }
     </style>
 {% endblock %}
{% block Panier %}
    {% if app.user %}

        <div class="dropdown">
            <a >
                <a href="javascript:;" id="notification-center" class="header-icon" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true">
                    </i>
                    <span class="bubble">
                        {{ liste|length }}
                    </span>
                </a>
            </a>

            <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">

                <div class="notification-panel">
                    <div class="notification-body scrollable">
                        {% if liste|length > 0 %}

                            {% for value in liste %}
                                <div class="notification-item  clearfix">
                                    <div class="heading">
                                        <a href="#" class="text-danger pull-left">
                                            <i class="fa fa-check-square m-r-10"></i>
                                            <span class="bold">{{ value.titre }}</span>
                                            <span class="fs-12 m-l-10"> {{ value.description }}</span>
                                        </a>
                                        <span class="pull-right time">{{ value.prix }} DT</span>

                                    </div>
                                    <div class="option">
                                        <a href="#" class="mark"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}

                            <div class="notification-item unread clearfix">
                                <!-- START Notification Item-->
                                <div class="heading open">
                                    <a href="#" class="text-complete pull-left">
                                        <i class="fa fa-exclamation-triangle m-r-10" style="color: red"></i>
                                        <span class="bold" >Nombres d'annonces dans le panier : </span>
                                        <span class="fs-12 m-l-10">0</span>
                                    </a>
                                    <div class="pull-right">
                                        <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                            <div><i class="fa fa-angle-left"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="more-details">
                                        <div class="more-details-inner">
                                            <h5 class="semi-bold fs-16">Votre Panier est Vide </h5><br>
                                               <h4 style="color: #0f3e68"> Veuillez Ajouter des annonces </h4><br>


                                        </div>
                                    </div>
                                </div>
                                <!-- END Notification Item-->
                                <!-- START Notification Item Right Side-->
                                <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                    <a href="#" class="mark"></a>
                                </div>
                                <!-- END Notification Item Right Side-->
                            </div>


                        {% endif %}
                    </div>

                    <div class="notification-footer text-center">
                        <a href="{{ path('panier_show') }}" class="">Consulter Panier </a>
                        <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                            <i class="pg-refresh_new"></i>
                        </a>
                    </div>




                </div>

            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".jaime").click(function () {
                var id = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("f_annonce_jaime") }}",
                    data: {
                        "Id": id
                    },
                    success: function (data) {
                        $(".jaime").hide();
                        $(".dislike").show();

                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".keyWord").keyup(function () {
                var keyWord = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("f_recherche") }}",
                    data: {
                        "keyWord": keyWord
                    },
                    success: function (response) {
                        $("#postContent").html(response);
                    },
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <br>
    <div style="padding: 20px 50px">
        <div>
            <div class="row">
                {% if app.user %}

                <div class="col-md-12 text-right">
                    <a href="{{ path('du_annonce_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Ajouter une Annonce
                        </i>
                    </a>
                </div>
                {% else %}
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                            <i class="icon-plus">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                &nbsp;Ajouter une Annonce
                            </i>
                        </button>
                    </div>
                {% endif %}
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-exclamation fa-5x" style="color: red;margin: 0 auto;"></i>
                                <h5 class="modal-title" id="exampleModalLabel">Vous devez se connecter d'abord</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <a href="{{ path('inscription') }}">
                                    <button class="btn btn-default">S'inscrire</button>
                                </a>
                                <a href="{{ path('fos_user_security_login') }}">
                                    <button type="button" class="btn btn-primary">Se connecter</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row" style="background-color: white; padding: 10px">
                <div class="col-md-2">
                    <h3>Filiter By</h3>
                </div>
                <div class="col-md-6">
                    <form role="form">
                        <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                                <label>Recherche tous les Annonce</label>
                                <input type="search" class="keyWord form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <div class="btn-group" style="height: 51px;">
                        <button class="max btn btn-secondary btn-lg dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier Par
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start"
                             style="position: absolute; transform: translate3d(0px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PR' }) }}">Plus
                                Récente</a>
                            <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PE' }) }}">Prix
                                Eleve</a>
                            <a class="dropdown-item" href="{{ path('f_annonce_trier', { 'val': 'PB' }) }}">Prix
                                bas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            {#<div class="col-md-12">#}
            <div class="col-md-2" id="sticky-sidebar">

                <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingOne">
                            <h4 class="card-title">
                                Categories
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <a href="{{ path('f_annonce_index') }}">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        All
                                        {#<span class="badge badge-primary badge-pill">{{ c.annonces | length}}</span>#}
                                    </li>
                                </a>
                                {% for c in categories %}
                                    <a href="{{ path('f_recherch_Categorie', { 'cat': c.id }) }}">
                                        {#{{ dump(c) }}#}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ c.libelle }}
                                            {#<span class="badge badge-primary badge-pill">{{ c.annonces | length}}</span>#}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10" id="main">
                <div class="row" id="postContent" style="margin-right:20px; margin-left: 20px;">
                    {% for a in annonces %}

                        <div class="col-md-4" >
                            <figure class="card card-product">
                                <div class="img-wrap">
                                    {% if a.photo != '' %}
                                        <img style="width:230px;" src="{{ asset('uploads/Annonce/photo/' ~ a.photo) }}"
                                             class="card-img-top">
                                    {% else %}
                                        <img alt="annonce_Pic" style="width:230px ; height: 230px;"
                                             src="{{ asset('assets/img/NA.png') }}"
                                             id="profile-image1" class="card-img-top">
                                    {% endif %}
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ path('f_annonce_show', { 'id': a.id }) }}"><h4 class="title">
                                            <b>{{ a.titre }}</b></h4></a>
                                    {#<p class="desc">{{ a.description }}</p>#}
                                    <div class="price-wrap h5">
                                        <span class="price-new">${{ a.prix }}</span>
                                    </div>
                                </figcaption>
                                <div class=" btn-group bottom-wrap">
                                    {% if app.user %}
                                        <button type="submit" value="{{ a.id }}"
                                                class="jaime btn btn-tag">
                                            <i class="fa fa-thumbs-up" style="color: #0a7c71" aria-hidden="true"></i> Like
                                        </button>
                                        <button type="button" class="btn btn-tag btn-tag-rounded float-left"
                                                data-toggle="modal" data-target="#signaler">
                                            Signaler<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: darkred"></i>
                                        </button>
                                        <div class="modal fade" id="signaler" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Signaler cette
                                                            Annonce</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body"><br>
                                                        <form action="{{ path('f_annonce_signaler', {'id': a.id}) }}"
                                                              id="{{ a.id }}" method="get" name="formulario_login">
                                                            <input type="radio" value="violence" name="radioLib"
                                                                   id="violence"><label for="violence">Violence</label><br>
                                                            <input type="radio" value="arnaque" name="radioLib"
                                                                   id="arnaque"><label for="arnaque">arnaque</label><br>
                                                            <input type="radio" value="harcelement" name="radioLib"
                                                                   id="harcelement"><label
                                                                    for="harcelement">Harcelement</label><br>
                                                            <input type="radio" value="haine" name="radioLib"
                                                                   id="haine"><label for="haine">Discour insitant à la
                                                                haine</label><br>

                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Annuler
                                                            </button>
                                                            <button type="submit" class="btn btn-success">Signaler</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {#<a href="{{ path('du_annonce_signaler', { 'id': a.id }) }}"#}
                                        {#class="btn btn-tag btn-tag-rounded float-left">#}
                                        {#Signaler  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>#}
                                        {#</a>#}
                                        <a href="{{ path('ajout_annonce',{ 'id_c': app.user.id , 'id_a' :a.id }) }}" class="btn btn-tag btn-tag-rounded float-left">Panier
                                            <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #0e90d2"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </figure>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
