{% for a in annonces %}
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap">
                {% if a.photo != '' %}
                    <img style="width:230px;" src="{{ asset('uploads/Annonce/photo/' ~ a.photo) }}"
                         class="card-img-top">
                {% else %}
                    <img alt="annonce_Pic" style="width:230px ; height: 230px;"
                         src="{{ asset('assets/img/NA.png') }}"
                         id="profile-image1" class="card-img-top">
                {% endif %}
            </div>
            <figcaption class="info-wrap">
                <a href="{{ path('f_annonce_show', { 'id': a.id }) }}"><h4 class="title"><b>{{ a.titre }}</b></h4></a>
                {#<p class="desc">{{ a.description }}</p>#}
                <div class="price-wrap h5">
                    <span class="price-new">${{ a.prix }}</span>
                </div>
            </figcaption>
            <div class=" btn-group bottom-wrap">
                <button type="submit" value="{{ a.id }}"
                        class="jaime btn btn-tag">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                </button>
                <a href="{{ path('du_annonce_signaler', { 'id': a.id }) }}"
                   class="btn btn-tag btn-tag-rounded float-left">
                    Signaler <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-tag btn-tag-rounded float-left">Panier
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </div>
        </figure>
    </div>
{% endfor %}