{% extends './Default/dashboard.html.twig' %}
{% block title %}
    /////
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var users = $('#usersTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });

        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Module réparation </b></h1>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#annrep" href="#"
                           aria-expanded="true">Annonces Réparation</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#reparateurs" class=""
                           aria-expanded="false">Réparation</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#reparateursPro" class=""
                           aria-expanded="false">///// Pro</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#livreurs" class=""
                           aria-expanded="false">/////</a>
                    </li>
                </ul>
                <div class="tab-content" >
                    <div class="tab-pane active" id="users" aria-expanded="true">
                        <table id="usersTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Date Publication</th>
                                <th>Date modification</th>
                                <th>Utilisateur</th>
                                <th>Note</th>
                                <th>Dernier Prix affiché </th>
                                <th>Actions </th>
                            </tr>
                            </thead>
                            <thead>
                            <tbody>
                            {% for value in annoncerep %}
                                <tr>
                                    <td style="width: 55px; padding:0px; text-align: center">
                                        {% if value.photo != '' %}
                                            <img alt="User Pic" style="width:50px;"
                                                 src="{{ asset('uploads/annoncerep/photos/' ~ value.photo) }}"
                                                 class="img-circle img-responsive">
                                        {% else %}
                                            <img alt="User Pic" style="width:50px;" src="{{ asset('assets/img/profile.png') }}"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% endif %}
                                    </td>
                                    <td>{{ value.id }} </td>
                                    <td>{{ value.titre }}</td>
                                    <td>{{ value.description }}</td>
                                    <td>{{ value.datepublication|date("m/d/Y") }}</td>
                                    <td>{{ value.datemodification|date("m/d/Y") }}</td>
                                    <td>{{ value.utilisateur }}</td>
                                    <td>{{ value.note }}</td>
                                    <td>{{ value.lastprix }}</td>

                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_rep_edit', { 'id': value.id }) }}"
                                               data-toggle="tooltip" title="Editier l'announce">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>






                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
