{% extends './Default/dashboard.html.twig' %}

{% block title %}
    My dashboard | Reparateur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #reparationsTab.archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableP = $('#announcerep').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
        $(document).ready(function () {
            var tableP = $('#reparationsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}

    {#Profiles liste et buttons#}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('reparateur_shlista') }}" class="btn btn-success">

                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Nouvelle Announce
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#announcerep" href="#"
                           aria-expanded="true">Mes announces de réparation </a>
                    </li>
                    <li class="nav-item">
                        <a class="" data-toggle="tab" role="tab" data-target="#reparations" href="#"
                           aria-expanded="true">Mes réparation en cours </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="publications" aria-expanded="true">
                        <table id="announcerep" class="table table-bordered" style="width: 100% !important;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Date de publication</th>
                                <th>Date de Modification</th>
                                <th>Réparateur</th>
                                <th>Last prix</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for value in annonce %}

                                <tr>
                                <td>{{ value.id }}</td>
                                <td></td>
                                <td>{{ value.titre }}</td>
                                <td id="descriptionCell">{{ value.description }}</td>
                                <td>{{ value.datepublication|date("m/d/Y") }}</td>
                                <td>{{ value.datemodification|date("m/d/Y") }}</td>
                                <td>{{ value.reparateur }}</td>
                                <td>{{ value.lastprix }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary"  href="{{ path('du_rep_edit', { 'id': value.id }) }}"
                                           data-toggle="tooltip" title="Editer">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        {% if value.lastprix!="" %}
                                        <a class="btn btn-secondary" href="{{ path('du_rep_valider', { 'id': value.id }) }}"
                                           data-toggle="tooltip" title="Aceepter Offre">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        {% endif %}
                                        <a class="btn btn-secondary" href="{{ path('du_rep_delete',{ 'id': value.id }) }}"
                                           data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>
                                        </a>
                                        {#{% if publication.etat != "archivé" %}#}
                                            {#<a class="btn btn-success" href="{{ path('du_forum_publication_archive', { 'id': publication.id }) }}"> Archiver </a>#}
                                        {#{% endif %}#}
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="reparations" aria-expanded="false">
                        <table id="reparationsTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>


                                <th>Id</th>
                                <th>Demandé par </th>
                                <th>Réparateur pris en charge</th>
                                <th>DatePrisEnCharge</th>
                                <th>Statut</th>
                                <th>Données suplémentaire</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <thead>
                            <tbody>

                            {% for value in reparation %}
                                {% if not value.statut == "En cours" %}
                                <tr class="archived">
                                    {% else %}
                                        <tr>
                                            {% endif %}

                                <td>{{ value.id }}</td>
                                <td>{{ value.utilisateur }}</td>
                                <td>{{ value.reparateur }}</td>
                                <td>{{ value.dateprisencharge|date("m/d/Y") }}</td>
                                <td>{{ value.statut }}</td>
                                <td>{{ value.commentaire }}</td>

                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        {#<a class="btn btn-secondary"  href="{{ path('du_rep_comment',{ 'id': value.id }) }}"#}
                                           {#data-toggle="tooltip" title="Ajouter un commentaire">#}
                                            {#<i class="fa fa-eye"></i>#}
                                        {#</a>#}
                                        {% if not is_granted('ROLE_REPARATEUR')%}
                                            {% if value.statut=='En cours' %}
                                        <a class="btn btn-secondary" href="{{ path('du_rep_annuler',{ 'id': value.id }) }}"
                                           data-toggle="tooltip" title="Annulé réparation">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if is_granted('ROLE_REPARATEUR') %}
                                        {% if value.statut=='En cours' %}
                                            <a class="btn btn-secondary" href="{{ path('du_rep_valider2',{ 'id': value.id }) }}"
                                               data-toggle="tooltip" title="Valider">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        {% endif %}
                                        {% endif %}

                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
