{% extends './Default/dashboard.html.twig' %}

{% block title %}
    My dashboard | Forum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #group-img {
            width: 55px !important;
            padding: 0;
        }
        #group-img img {
            width: 55px !important;
        }
        tr td{
            padding: 2px 3px !important;
        }
        #publcationsTab .archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableP = $('#publcationsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}

    {#Profiles liste et buttons#}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('du_forum_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Nouvelle publication
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#publications" href="#"
                           aria-expanded="true">Mes publications</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="publications" aria-expanded="true">
                        <table id="publcationsTab" class="table table-bordered" style="width: 100% !important;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Etat</th>
                                <th>Crée par</th>
                                <th>Nbr de oommentaires</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for publication in publications %}
                                {% if publication.etat == "archivé" %}
                                    <tr class="archived" >
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td>{{ publication.id }}</td>
                                    <td>{{ publication.publicationCreatedAt | date }}</td>
                                    <td>{{ publication.titre }}</td>
                                    <td>{{ publication.description }}</td>
                                    <td>{{ publication.etat }}</td>
                                    <td>{{ publication.publicationCreatedBy }}</td>
                                    <td>{{ publication.commentaires | length }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary" href="{{ path('du_forum_publication_show', { 'id': publication.id }) }}"
                                               data-toggle="tooltip" title="Consuler">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-secondary" href="{{ path('du_forum_publication_delete', { 'id': publication.id }) }}"
                                               data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>
                                            </a>
                                            {% if publication.etat != "archivé" %}
                                                <a class="btn btn-success" href="{{ path('du_forum_publication_archive', { 'id': publication.id }) }}"> Archiver </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
