{% extends 'base.html.twig' %}


{% block body %}

    <link href="{{ asset ('assets/css/inputreps.css') }}" rel="stylesheet" type="text/css"/>
            <div class="one marg ">
                {{ form_start(formAnnonce) }}
                <center> <h4 class="h-25">Ajout d'une announce ! </h4> </center>
                <center> <div class="col-3 input-effect marg">

                        {{ form_widget(formAnnonce.titre, { 'attr': {'class': 'effect-21','placeholder': 'Titre announce'} }) }}
                    <span class="focus-border marg">
            	<i></i>
                    </span>
                </div></center>
            </br>
               <center><div class="col-3 input-effect marg">
                    {{ form_widget(formAnnonce.description, { 'attr': {'class': 'effect-21','placeholder': 'Description'} }) }}
                        <span class="focus-border">
            	<i></i>
                        </span>
                </div></center>
                </br>


                <center> <div>
                    {{ form_rest(formAnnonce) }}
                </div></center>



                                {{ form_end(formAnnonce) }}
            </div>








    <!--<div class="col-md-6 text-right">
        <br>
        <button type="submit" class="btn btn-success" value="Create">
            <i class="fa fa-check" aria-hidden="true"></i> Confirmer
        </button>
        <a href="#" class="btn btn-secondary">
            <i class="fa fa-undo" aria-hidden="true"></i>  Annuler</a>
        <br>
    </div>-->



{% endblock %}