{% extends 'default/dashboard.html.twig' %}
{% block stylesheets %}
    <style>
        .page-container {
            background-image: url('{{ asset('assets/img/background_livraison2.jpg') }}') !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var panier = $('#livraison').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}
{% block head %}
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
{% endblock %}
{% block body %}

    {% if livraisons|length >0 %}
        <h1 style="color: white"> Mes Livraisons : </h1>
        <div class="tab-content" >
            <div class="tab-pane active" id="users" aria-expanded="true">

                <table id="livraison" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th style="color: white" > Nom & Prénom Utilisateur </th>
                        <th style="color: white"> Etat </th>
                        <th style="color: white"> Date Livraison </th>
                        <th style="color: white"> Prix Commande  </th>
                        <th style="color: white"> Frais de livraison </th>
                        <th style="color: white"> Total </th>
                        <th style="color: white"> Action</th>
                    </tr>
                    <tbody>
                    {% for value in livraisons %}
                    {% for c in commandes %}
                        {% if app.user.id == value.idUtilisateur %}
                        {% if value.idCommande == c.id %}
                            <tr>
                                <td> {{ app.user.nom  }} {{ app.user.prenom }} </td>
                                <td> {{ value.etatLivraison }}
                                    {% if value.etatLivraison=='En cours' %}
                                        <i class="fa fa-spinner fa-2x fa-pulse " style="color: #0da899"></i>
                                    {% endif %}
                                    {% if value.etatLivraison=='Effectué' %}
                                        <i class="fas fa-check fa-2x " style="color: #0da899"></i>
                                    {% endif %}
                                </td>
                                <td>{{ value.dateLivraison|date }}</td>

                                <td> {{ c.prixTotal }} DT</td>
                                <td> 5 DT </td>
                                <td>{{ c.prixTotal+5 }} DT</td>
                                <td>
                                    <a href="{{ path('detail_livraison',{ 'id_c': value.idCommande }) }}">Détail de la livraison</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% else %}
        <h1> Vous n'avez pas de livraisons </h1>
    {% endif %}
{% endblock %}