{% extends './Default/dashboard.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var users = $('#cmd').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });

        });
    </script>
{% endblock %}

{% block body %}
    {% if livraisons|length >0 %}
        <h1> Liste des Livraisons :</h1>
        <a  href="{{ path('stat_livraison')}}"> <button class="btn btn-info float-right btn-sm"> Afficher les statistiques des livraisons </button></a> </br>
        <p></p>
        <div class="tab-content" >
            <div class="tab-pane active" id="users" aria-expanded="true">
                <table id="cmd" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Date Livraison </th>
                        <th> Adresse de livraison </th>
                        <th> Etat </th>
                        <th> Prix Total </th>
                        <th> Nom & Prenom Livreur </th>
                        <th> Nom & Prenom  Utilisateur </th>
                        <th> Détails </th>
                    </tr>
                    {% for value in livraisons %}

                    <tbody>
                        <tr>
                            <td>{{ value.id }} </td>

                            <td>{{ value.dateLivraison|date }}</td>
                            <td> {{ value.adresseComplete }}</td>
                            <td>
                                {{ value.etatLivraison }}
                                {% if value.etatLivraison=='En cours' %}
                                    <i class="fa fa-spinner fa-2x fa-pulse " style="color: #0da899"></i>
                                {% endif %}
                                {% if value.etatLivraison=='Effectué' %}
                                    <i class="fas fa-check fa-2x " style="color: #0da899"></i>
                                {% endif %}

                            </td>


                            <td>
                                {% for v2 in commande %}
                                {% if value.idCommande == v2.id %}
                                {{ v2.prixTotal+5 }}
                                {%  endif %}
                                {% endfor %}
                            </td>


                                <td>
                                    {% for v3 in livreurs %}
                                    {% if value.idLivreur == v3.id %}
                                    {{ v3.nom }} {{ v3.prenom }}
                                    {%  endif %}
                                    {% endfor %}
                                </td>

                            <td>
                                {% for u in users %}
                                    {% if value.idUtilisateur == u.id %}
                                        {{ u.nom }} {{ u.prenom }}
                                    {%  endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for v2 in commande %}
                                {% if value.idCommande == v2.id %}
                                <a href="{{ path('livraison_detail',{ 'id_c': v2.id }) }}">Afficher les Détails </a>
                                {%  endif %}
                                {% endfor %}
                            </td>

                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

    {% else %}
        <h1> Pas de Livraisons pour le moment </h1>
    {% endif %}

{% endblock %}